
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nativewebapp">

    <application
        android:label="Native Web App"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity 
            android:name=".MainActivity"
            android:label="Native Web App"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
